<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <div class="row">
                    <div class="col-lg-6 col-md-6 s">
                        <h4 class="card-title"> <strong>Listado de cursos</strong> </h4>
                    </div>
                    <div class="col-lg-6 col-md-6 s text-right align-self-center">
                        <a title="Agregar programa" routerLink="../add"
                            class="btn btn-success btn-fab btn-fab-mini btn-round m-0 p-0">
                            <i class="material-icons">library_add</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                 <app-material-table [dataSource]="dataSource" [columns]="displayedColumns" [searchString]="'Buscar un colegio'"></app-material-table>
                 <h5 class="text-center" *ngIf="dataSource.data.length == 0"> <strong> Sin Registros, agregue un nuevo registro desde el boton + </strong></h5> 
            </div>
        </div>
    </div>
</div>