<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <div class="row">
                    <div class="col-lg-6 col-md-6 s">
                        <h4 class="card-title"> <strong>Nuevo curso</strong> </h4>
                    </div>
             
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="cursoForm">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input  formControlName="grado" matInput placeholder="Grado">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input formControlName="salon" matInput placeholder="Salon" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill"  class="example-full-width">
                                <mat-label>Colegio</mat-label>
                                <mat-select formControlName="colegio" >
                                  <mat-option *ngFor="let colegio of colegios" [value]="colegio.id">
                                    {{colegio.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
       
     
                    <button mat-raised-button type="button" (click)="crearCurso()" class="btn btn-success pull-right" >Guardar</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>