<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <div class="row">
                    <div class="col-lg-6 col-md-6 s">
                        <h4 class="card-title"> <strong>Nuevo profesor</strong> </h4>
                    </div>
             
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="profesorForm">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input  formControlName="nombre" matInput placeholder="Nombre">
                            </mat-form-field>
                        </div>
        
                    </div>
       
     
                    <button mat-raised-button type="button" (click)="crearProfesor()" class="btn btn-success pull-right" >Guardar</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>